$color-white: #ffffff;
$color-black: #292929;
$color-primary: #11d0c4;
$color-secondary: #2b407a;
$color-red: #e02020;

html, body {
  height: 100%;
}

button, input[type="submit"] {
  cursor: pointer;
}

body {
  background: $color-primary;
  background: linear-gradient(90deg, rgba($color-primary, 10%), rgba($color-secondary, 90%));
  color: #292929;
  display: flex;
  justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  text-align: center;
  margin: 0 0 40px 0;
}

.todo {
  margin-top: 50px;
  width: 320px;
  background: $color-white;
  padding: 40px;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.5);
}

.item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }

  p {
    margin: 0;
    word-wrap: break-word;
  }

  button {
    margin: 0 0 0 15px;
    border: 2px solid $color-secondary;
    font-weight: 700;
    background: none;
    padding: 4px 10px;
  }

  .details {
    flex: 1 0 auto;
    cursor: pointer;

    p {
      width: 192px;
    }
  }

  .completed {
    text-decoration: line-through;
  }
}

form {
  label {
    display: block;
    margin-bottom: 10px;
  }

  .label-group {
    display: flex;
    justify-content: space-between;
  }

  .character-count {
    font-size: 14px;
    width: 63px;
    height: 36px;
    text-align: right;
    position: absolute;
    top: 0;
    right: 50px;
    color: $color-white;
    border: 2px solid $color-primary;
    border-left: none;
    border-right: none;
    pointer-events: none;
    padding: 5px;
    box-sizing: border-box;

    &.visible {
      color: rgba($color-black, 0.9);
    }
  }

  .input-group {
    margin-bottom: 15px;
    position: relative;

    input {
      border: 2px solid $color-primary;
      height: 36px;
      box-sizing: border-box;
      padding: 5px 10px;
    }

    input[type="text"] {
      width: calc(100% - 50px);
      padding-right: 63px;
      border-right: none;
    }

    input[type="submit"] {
      width: 50px;
      height: 36px;
      background: $color-primary;
      color: $color-white;
      font-weight: 700;
    }
  }
}

.error {
  color: $color-red;
  margin: 0 0 15px;
}

.counter {
  color: $color-secondary;
  font-weight: 700;

  p {
    margin: 0;
  }
}
